.one{
    width: 100px;
    height: 100px;
    background-color: brown;
    transition: width 2s;
    transition-delay: 1s ;
    transition-timing-function: ease-in-out;
}
.one:hover{
    width: 500px;
}